<nav class="navbar navbar-expand-lg navbar-light bg-light ps-5">
  <a class="navbar-brand" href="<%= root_path%>">NIAW</a>
  <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdownMenuLink"
          role="button"
          data-bs-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Actions
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href=" <%= gallery_index_path %>">Gallery</a>
          <a class="dropdown-item" href="<%= images_path %>">Master Gallery</a>
          <% if signed_in? %> 
          <a class="dropdown-item" href="<%= users_path %>">
            Master Users
          </a>
          <a class="dropdown-item" href="<%= logout_path%>" data-method="delete">
            Log out
          </a>
          <% else %>
          <a class="dropdown-item" href="<%= login_path%>">
            Log in
          </a>
          <% end %>
        </div>
      </li>
    </ul>
  </div>
</nav>
