<!DOCTYPE html>
<html>
  <head>
    <title>OfflineRails7</title>
      <%= favicon_link_tag asset_path('nijikaicon.jpg')%>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

<%= render 'partials/header'%>
  <body>
    <div class="container-fluid main-container rounded text-center border border-warning mt-5 mb-5">
      <%= yield %>
    </div>
  </body>
<%= render 'partials/footer' %>

</html>
